* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4a460;
}
header {
  width: 100%;
  height: 230px;

  background-image: url(./JP.image/head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}
header h1 {
  color: aliceblue;
  font-size: 50px;
  font-family: arial;
  padding-top: 1.2em;
}
header i {
  margin: 20px;
}
.link-flex {
  display: flex;
  justify-content: center;
}
main {
  height: auto;
  margin: 0 5px;
  display: flex;
  text-align: center;
}
.content-header h2 {
  font-size: 27px;
  color: black;
  border-bottom: 3px solid black;
}
.main-ul ul {
  list-style: none;
  width: auto;
  height: auto;
}
.main-ul ul li {
  width: auto;
  height: auto;
  margin: 3px;
  border: 3px solid black;
}
.explain {
  font-size: 20px;
}
.side-top {
  width: auto;
  height: 50px;
  margin: 3px;
  border: 3px solid black;
  background-color: #a0522d;
}
.side-top p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: white;
}
.side {
  width: 250px;
  height: 700px;
  background-color: #f4a460;
  border: 5px solid black;
  margin-top: 10px;
  text-align: center;
}
.side-ul {
  padding: 5px 5px 0 0;
  width: 100%;
  height: auto;
}
.side-ul li {
  width: 100%;
  height: 40px;
  margin: 3px;
  list-style: none;
  border: 3px solid black;
  background-color: #a0522d;
  font-size: 20px;
  color: white;
}
.content {
  width: 100%;
  height: 700px;
  border: 5px solid black;
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
}
footer {
  width: 100%;
  height: 50px;
  border: 5px solid black;
  background-color: maroon;
  margin-top: 5px;
}
